[Unit]
Description=Spring-Pet
After=syslog.target

[Service]
User=bootuser
ExecStart=/usr/bin/java -jar /usr/share/springpet/springpet-2.4.2.jar
SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target